.custom-container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.remove-dot {
    list-style-type: none;
}

.text-color {
    color: rgba(255, 112, 16, 1);

}

.font-size14 {
    font-size: 14px;
}

.bacground {
    background-color: rgb(236, 232, 227);
}

.departments {
    padding: 20px 40px;
    cursor: pointer;
}